<div class="row">
  {{#each articles}}
  <div class="col-lg-4 pb-4 d-flex justify-content-center align-items-stretch">
    <div class="card border-dark" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <hr>
        <div class="text-center">
          <a href="{{link}}" target="blank">
            <button type="button" class="btn btn-outline-secondary">Full article</button>
          </a>
          <a href="/articles/{{this.id}}" target="blank">
            <button type="button" class="btn btn-outline-secondary">Comment</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
