<div class="text-center">
	<h3>
		Welcome! To begin, click the button below to scrape the newest headlines.
	</h3>

<br>

	<a href='/scrape'>
		<button type="button" class="btn btn-light">Scrape articles</button>
	</a>
</div>