<div class="main-banner">
	<h1 class="main-title">EDM Headlines Scraper</h1>
</div>
<nav>
	<a href="/scrape">Scrape New Articles</a>
</nav>

<h1>To begin, click the link above to scrape today's headlines!</h1>